body {
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: #3D405B;
}

/* Main Header */
#main-header {
    color: #ffffff;
    background-color: #3D405B;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}

h1 {
    background-color: #f4f5fc;
    border-radius: 12px;
    padding: 12px;
}

#top-bar {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: #3D405B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    gap: 32px;
}

image{
    height: auto;
    width: auto;
}

a.top-bar:visited {
    color: #ffffff;
    text-decoration: none;
}
a.top-bar:hover {
    color: #808080;
    text-decoration: none;
}

.profile-picture {
    display: flex;
    justify-self: center;
    border-style: solid;
    border-width: 6px;
    border-color: #3D405B;
    border-radius: 12px;
}

figure {
  display: table;
  margin: 0 auto; /* Optional: centers the figure */
}

figcaption {
    background-color: #3D405B;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    margin-top: 6px;
    padding: 6px;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px;
}

.button-link {
    color: #ffffff;
    background-color: #3D405B;
    border-radius: 6px;
    padding: 6px;
}

.button-matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

#copyright{
    display: flex;
} 