section.title {
    padding-top: 12px;

    justify-content: center;
    align-items: center;
}

section.title h1 {
    color: var(--heading-color);

    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

section.title h2 {
    color: var(--heading-color);
    font-size: medium;

    text-transform: uppercase;
    text-align: center;
}

main {
    background-color: var(--background-color);

    display: flex;
    flex: 1;

    padding-bottom: 12px;
}

main > div.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

section.body > h1 {
    color: var(--heading-color);

    font-size: 36px;
    font-weight: bold;

    border-bottom-color: var(--heading-border-color);
    border-bottom-style: solid;
}

section.body article h1 {
    color: var(--heading-color);

    font-size: 24px;
    font-weight: bold;

    border-bottom-color: var(--heading-border-color);
    border-bottom-style: solid;
}

section.body article h2 {
    color: var(--heading-color);

    font-size: 24px;
    font-weight: bold;
}

section.login {
    margin-top: 12px;

    justify-items: center;
    align-items: center;
}

section.login div {
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;

    padding: 12px;

    justify-items: center;
    align-items: center;
}

figure.headshot {
    display: flex;
    flex: 1;
    flex-direction: column;

    align-items: center;
}

figure.headshot img {
    border-radius: 20px;
}

figure {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

figure img {
    display: block;

    height: 300px;
    max-width: 100%;
}

figure video {
    display: block;

    height: 300px;
    max-width: 100%;
}

figure figcaption {
    text-align: center;
}

footer div.container {
    color: var(--white);
    text-align: center;
    
    padding-top: 12px;
}