:root {
    --title-color: #ffffff;
    --title-background-color: #053C5E;

    --heading-color: #053C5E;
    --heading-border-color: #053C5E;

    --figure-background-color: #053C5E;
    --figure-border-color:  #053C5E;
}