body {
    background-color: var(--border-color);
}

header {
    background-color: var(--title-background-color);
    padding-top: 30px;
}

header div#title {
    background-color: var(--background-color);
    padding: 0px;
}

header div#title > div {
    color: var(--title-color);
    background-color: var(--title-background-color);

    width: 100%;
    height: 100%;

    border-bottom-right-radius: 20px;
}

header div#bar {
    color: var(--bar-color);
    background-color: var(--background-color);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    justify-content: center;
    align-content: center;
}

header div#info {
    background-color: var(--background-color);
    padding: 0px;
}

header div#info > div {
    color: var(--title-color);
    background-color: var(--title-background-color);

    width: 100%;
    height: 100%;

    border-bottom-left-radius: 20px;

    align-content: center;
}

header div#info a {
    color: var(--title-color);
}